# Ignore Gradle project-specific cache directory
.gradle
**/build/
!src/**/build/

#  Visual Studio Code
**/bin
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# IVCT specific 
**/resources/testCaseBuild.properties

# exclude all local  eclipse and other files
.project
.settings
*/.classpath
*/.project
*/.classpath

logback.xml
*/logback.xml
**/logback.xml
**/**/logback.xml
