# Ignore Gradle project-specific cache directory
.gradle
**/build/
!src/**/build/

#  Visual Studio Code
**/bin
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

